@import "https://unpkg.com/open-props";



*, *::before, *::after {
	box-sizing: border-box;
	inset: 0;
	margin: 0;
	font-family: inherit;
	color: inherit;
	list-style: none;
	text-decoration: none;
}

html {
	font-family: sans-serif;
	font-size: var(--size-4);
	height: 100vh;
	background: var(--gray-9);
}

body {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.container {
	width: clamp(40rem, 2vw, 80vw);
	padding: 1em;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-evenly;
	height: 80vh;
	box-shadow: var(--shadow-4);
}

.currency {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.currency select {
	font-size: var(--size-4);
}

.currency input{
	border-radius: 0.5em;
	padding: 0.2em;
	color: var(--gray-8);
	font-size: var(--size-4);
	text-align: center;
}

#middle-section{
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.header h2 {
	color: var(--gray-0);
	text-align: center;
}
#rate{
	color: var(--gray-0);
}

#swap {
	transform: scale(1.0);
	font-size: var(--size-3);
	padding: 0.4em;
	border-radius: 40%;

}

#swap:hover, #swap:focus{
	animation: wobble 0.5s alternate;
}

@keyframes wobble {
	0% : {
		transform: scale(1.0);
	}
	100% : {
		transform: scale(1.2);
	}
}
