@import "https://unpkg.com/open-props";

@media (max-width: 1200px){
	:root {
		--size-standard: var(--size-1);
	}
	.currency{
		flex-direction: column;
	}
	#middle-section{
		flex-direction: column;
	}
}

@media (max-width: 600px){
	:root {
		--size-standard: 0.5rem;
	}
}

:root{
	--size-standard: var(--size-5);
}

*, *::before, *::after {
	box-sizing: border-box;
	inset: 0;
	margin: 0;
	font-family: inherit;
	color: inherit;
	list-style: none;
	text-decoration: none;
}

html {
	font-family: sans-serif;
	font-size: var(--size-standard);
	height: 100vh;
	background: var(--gray-9);
}

body {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	width: 80vw;
	padding: 2em;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-evenly;
	height: max-content;
	box-shadow: var(--shadow-4);
	border-radius: var(--radius-4);
	border: var(--border-size-2) solid var(--gray-0);
}
.container > div {
	margin: 0.5em;
}

.currency {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.currency select {
	font-size: var(--size-standard);
	border-radius: var(--radius-4);
	text-align: center;
	width: fit-content;
	padding: 0.2em;
	max-width: 90%;
}

.currency input{
	border-radius: var(--radius-4);
	padding: 0.2em;
	color: var(--gray-8);
	font-size: var(--size-standard);
	text-align: center;
	width: fit-content;
	max-width: 90%;
}

#middle-section{
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-items: center;
}

.header h2 {
	color: var(--gray-0);
	text-align: center;
	font-size: calc(var(--size-standard));
	font-weight: var(--font-weight-8);
}
#rate{
	color: var(--gray-0);
}

#swap {
	transform: scale(1.0);
	font-size: calc(var(--size-standard)*0.75);
	padding: 0.4em;
	border-radius: var(--radius-4);
	background: transparent;
	border: var(--border-size-2) solid var(--gray-0);
	color: var(--gray-0);
}

#swap:hover, #swap:focus{
	animation: var(--animation-pulse); 0.5s;
}